.title {
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    width: 700px;
    line-height: 35px;
    margin-bottom: 5;

}

.mil {
    font-size: 16px;
    color: rgb(81, 83, 83);
    margin-top: 0;
    margin-bottom: 0;
}

.text {
    font-family: Arial;
    color: rgb(81, 83, 83);
    font-size: 14px;
    margin-top: 10;
    margin-bottom: 0;
}

.para {
    font-family: Arial;
    font-size: 14px;
    font-size: 14px;
    color: rgb(81, 83, 83);
    width: 300px;
    line-height: 22px;
    margin-bottom: 35px;

}

.shapes {

    width: 700px;
    height: 65px;
    background-color: rgb(240, 71, 71);

    
}

.red {
    position: absolute;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    left: 45px;
    top: 245;
}